
@using (Html.BeginForm("Recommend", "UserProfile"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.TextBox("userName", null, new { @class = "form -control" })
    </div>

    @Html.Hidden("id", new { id = Model.Id });
    @Html.Hidden("type", "Book");

    <button type="submit" class="btn btn-primary">Send</button>
}
