@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/styles/AdminStyles.css" />

<div id="actions">
        @Html.ActionLink("Active Users", "GetUsers", null, new { @class="index-buttons" })
        @Html.ActionLink("Blocked Users", "GetBannedUsers", null, new { @class = "index-buttons" })
        @Html.ActionLink("Pending Tickets", "PendingTickets", null, new { @class = "index-buttons" })
</div>