@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        @Html.ActionLink("Active Users", "GetUsers")
    </div>
    <div>
        @Html.ActionLink("Blocked Users", "GetBannedUsers")
    </div>
    <div>
        @Html.ActionLink("Pending Tickets", "PendingTickets")
    </div>
</div>